<div class="row profile-navbar">
    <div class="col-md-8 ml-auto">
      <div class="profile-tabs">
        <ul class="tabs-holder">
          <li class="tab"><a href="#"  class="selected">Dashboard</a></li>
          <li class="tab"><a href="#" [routerLink]="['/app/students-list',role, instituteId]">College List</a></li>
          <!-- <li class="tab"><a href="#" [routerLink]="['/app/profile']">Profile</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  

<!-- <div class="card-row">
  <div class="container-fluid">
    <div class="row card-row-inside">
      <div class="col col-12 col-md-4">
        <div class="card card-col" [@cardAnimation1]>
          <div class="card-header">Title 1</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
      <div class="col col-12 col-md-4">
        <div class="card card-col" [@cardAnimation1]>
          <div class="card-header">Title 2</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
      <div class="col col-12 col-md-4">
        <div class="card card-col" [@cardAnimation1]>
          <div class="card-header">Title 3</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="chart-row">
  <div class="container-fluid">
    <div class="row chart-row-inside">
      <div class="col col-12 col-md-6">
        <div class="card chart-container" [@cardAnimation1]>
          <div class="card-header">
            <span class="text">
               University Ranks Vs Year
            </span>
          </div>
          <dashboard-chart></dashboard-chart>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <!-- <div class="card chart-container">
          <div class="card-header">Chart 2</div>
           -->
          <div class="card table-wrapper" [@cardAnimation2]>
              <h4 class="heading">Choose your parameters!</h4>
              <div class="checks">
              <input type="checkbox" name="param1" value="University Ranks" checked> University Ranks<br>
              <input type="checkbox" name="param2" value="Placements" checked> Placements<br>
              <input type="checkbox" name="param3" value="Enrollments" checked>Enrollments<br>
              <input type="checkbox" name="param4" value="Higher Studies">Higher Studies<br>
              <input type="checkbox" name="param5" value="Faculty-Student Ratio">Faculty-Student Ratio<br> 
          </div>
            </div>

  <!--       </div>
      </div> -->
    </div>
  </div>
</div>

<div class="chart-row">
  <div class="container-fluid">
    <div class="row chart-row-inside">
      <div class="col col-12 col-md-6">
        <div class="card chart-container" [@cardAnimation1]>
          <div class="card-header">
            <span class="text">
               Placement vs Year Graph
            </span>
          </div>
          <bar-chart></bar-chart>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <!-- <div class="card chart-container">
          <div class="card-header">Chart 2</div>
           -->
          <div class="card chart-container" [@cardAnimation2]>
            <div class="card-header">
              <span class="text">
                 Enrollments 
              </span>
            </div>
            <pie></pie>
          </div>
        </div>
              
            </div>

  <!--       </div>
      </div> -->
    </div>
  </div>
</div>